///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal-decorativo
  &-1
    top: 55%
    right: 85%
    width: 90px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
    
  
  &-2
    top: 5%
    right: 15%
    width: 90px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 50%
    right: 5%
    width: 90px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 55%
      right: 85%
      width: 90px
      
    &-2
      top: 5%
      right: 15%
      width: 90px
    
    &-3
      top: 50%
      right: 5%
      width: 90px
      

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-primario-20 !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

.banner-principal__row .banner-principal__img
  width: 550px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: $bp-max-md)
    background-image: url(../assets/curso/portada/fondo-banner-principal-sm.png) !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url(../assets/curso/portada/fondo-banner-principal-xs.png) !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important

.banner-interno__titulo__icono i
  color: $white

.banner-interno__titulo__icono 
  background: $color-primario
 
.barra-avance__boton--regresar span
  color: $color-sistema-texto !important

figcaption
  font-weight: normal

// --- CITA DECORADA --- //

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/introduccion/img_2.png')
  
    

    [class*="cita-decorada__imagen-flotante"]
      width: 100%
      height: auto
      
    .cita-decorada__imagen-flotante-1
      position: absolute
      transform: translateY(-50px) translateX(-40px)
      z-index: 3
      max-width: 100px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-50px) translateX(-30px)
        max-width: 90px

// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_3.png') !important
      background-repeat: no-repeat
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_10.png') !important
      background-repeat: no-repeat
  &_3
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_15.png') !important
      background-repeat: no-repeat
  &_4
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_3.png') !important
      background-repeat: no-repeat
  &_5
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_2/img_9.png') !important
      background-repeat: no-repeat
  &_6
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_3.png') !important
      background-repeat: no-repeat
  &_7
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_8.png') !important
      background-repeat: no-repeat
  &_8
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_16.png') !important
      background-repeat: no-repeat
  &_9
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_21.png') !important
      background-repeat: no-repeat
  &_10
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_25.png') !important
      background-repeat: no-repeat
  &_11
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_3/img_30.png') !important
      background-repeat: no-repeat
  &_12
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_1.png') !important
      background-repeat: no-repeat
  &_13
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_9.png') !important
      background-repeat: no-repeat
  &_14
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_13.png') !important
      background-repeat: no-repeat
  &_15
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_19.png') !important
      background-repeat: no-repeat
  &_16
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_28.png') !important
      background-repeat: no-repeat
  &_17
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_4/img_33.png') !important
      background-repeat: no-repeat
  &_18
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_5/img_1.png') !important
      background-repeat: no-repeat
  &_19
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_5/img_4.png') !important
      background-repeat: no-repeat
  &_20
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_6/img_1.png') !important
      background-repeat: no-repeat
  &_21
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 100px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_6/img_5.png') !important
      background-repeat: no-repeat


///BG_color
.bg-color-primario-20
  background-color: $color-primario-20
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-acento-contenido-5
  background-color: $color-acento-contenido-5

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0
  .slyder-f__btn
    background-color: $color-acento-botones
    height: 42px
    width: 42px
    min-width: 42px
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px
  
// Tabla a 
.tabla-a thead
  border-top: 10px $color-primario-10 solid
  color: $color-sistema-a
  background-color: $color-primario-5

.bg-table-01
  background-color: $color-adicional-2
  color: $color-sistema-texto
.b 
  font-weight: bold